

h3 {
    color: #3399CC;
    font-family: Calibri;
    font-size: 22pt;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
.img1{
    float: left;
}

.links{
margin-left: 70%;
    text-decoration: none;
    font-size: x-large;

}
a:link {
    color: green;
    text-decoration: none;
}

a:hover {
    color: indianred;
    text-decoration: none;
}

#p1{
    color: #3399CC;
    font-family: Calibri;
    font-size: 15pt;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
#signup {
    background-color: #3399CC;
    border: 5px groove navy;
    border-collapse: collapse;
    color: white;
    font-family: Calibri;
    font-size: 11pt;
    font-style: normal;
}
table.inner {
    border: 0 none;
}
.format{
    clear: both;
    margin-top:;
}
#signin{
margin-left : 40%;
    margin-top: 10%;
}
.formfield{
    width: 200%;
    margin-bottom: 10%;
    border-radius: 5px;
    border-color: black;
    padding: 5%;
}
body{
    background-image: url("");
}

.icons{
    border: 5px solid black;
    box-shadow: 10px 5px 10px #3399CC;
    border-radius: 10px;
    margin-right: 5%;
    float: left;
}
#hello{
    font-family: Verdana;
    font-size: 50px;
    text-shadow: #3399CC;
    margin-left: 50px;
}
.link{
    border: 5px solid #3399CC;
    padding: 20px;
    margin-left: 20%;
    margin-right: 28%;
    margin-top: 10%;

}
#footer{
    clear: both;
}
#home1{
    text-align: center;
}